<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--PaymentKeys-->
    
    <!--prod: https://apiquery.braspag.com.br/v2/sales/ | homo: https://apiqueryhomolog.braspag.com.br/v2/sales/ -->
    
    <!--prod: https://api.braspag.com.br/v2/sales/ | homo: https://apihomolog.braspag.com.br/v2/sales/ -->
    <add key="api_braspag_url_address" value="https://apihomolog.braspag.com.br/v2/sales/"/>

    <!--prod id: YYYYYYY-YYYYYYY-YYYYYYY-094A-AF5FDDEEE09B | homo id: XXXXXXXX-XXXXXXXX-XXXXXXXX-F582-9B973E0B258A-->
    <add key="api_braspag_merchant_id" value="XXXXXXXX-XXXXXXXX-XXXXXXXX-F582-9B973E0B258A"/>

    <!--prod key: YYYYYYY | homo key: XXXXXXXX-->
    <add key="api_braspag_merchant_key" value="XXXXXXXX"/>

    <!--provider: Simulado - Cielo - Redecard-->
    <add key="api_braspag_provider_type" value="Simulado"/>

    <add key="api_braspag_customer_name" value="FIAP"/>
    
    <add key="internal_users_emails" value="anderson.anzileiro@gmail.com, anderson.ribeiro@fiap.com.br"/>
    
    <add key="internal_email_login" value="anderson.anzileiro@gmail.com"/>
    
    <add key="internal_email_password" value="xxxxx"/>
    
    <!--PaymentKeys-->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
